NUXT_PUBLIC_CONTACT_EMAIL='dustin.clever@googlemail.com'
NUXT_PUBLIC_LINKEDIN_URL='https://www.linkedin.com/in/dustin-clever/'
NUXT_PUBLIC_SITE_URL='http://www.dustin-clever.de/'
NUXT_PUBLIC_IMPRINT_STREET='Rotdornweg 1'
NUXT_PUBLIC_IMPRINT_CITY='51519 Odenthal'
NUXT_PUBLIC_IMPRINT_PHONE='' # optional, leer lassen = nicht anzeigen